
<app-header></app-header>
<h1>Modifier Competences</h1>
<div class="container" style="border: 2px solid black">


  <div class="row">
    <div class="col-4" style="">
      <label for="select1">Groupe Competence</label>
      <select class="form-control" id="select1">
        <option>developpeur front</option>
        <option>developpeur front</option>
        <option>developpeur front</option>
        <option>developpeur front</option>
      </select>
    </div>

    <div class="col-4">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button style="background-color: #008e8e" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Niveau1
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button style="background-color: #008e8e" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Niveau2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button style="background-color: #008e8e" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Niveau3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <label for="libell" class="">Libelle</label>
      <textarea name="libell" id="libell" cols="30" rows="10"></textarea>
    </div>
    <button class="mt-3" style="background-color: #1BA693" >Soumettre</button>
  </div>
</div>


